@font-face {
    font-family: Monstserrat;
    src: url(/fonts/Montserrat-Medium.ttf);
}

//Colours
$black: #000;
$grey: #F0F0F0;
$white: #FFF;

body {
    padding: 0;
    margin: 0;

    header {

        .heading{
            width: 100%;
            background-color: $black;
            height: 400px;
            position: absolute;
            z-index: 30px;

            h1 {
                color: $white;
                text-align: center;
                padding-top: 10px;
            }
        }
    }
}