@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Medium.ttf);
}

//Colours
$black: #000;
$grey: #F0F0F0;
$white: #FFF;

body {
    font-family: Montserrat;
    padding: 0;
    margin: 0;

    header {

        .heading{
            width: 100%;
            background-color: $black;
            height: 262px;
            position: absolute;
            z-index: 30px;

            .head-text {
                color: $white;
                text-align: center;
                margin: 0;
                padding-top: 10px;

                h1 {
                    font-size: 105px;  
                    margin: 0;
                }

                h3{
                    font-size: 50px;  
                    margin: 0;
                }
            }
        }
    }

    .hero {
        display: flex;
        justify-content: center;
        background-color: $grey;

        .images {
            height: 500px;
            display: flex;
            padding: 295px 0px 30px 0px;
            margin: 0;

            img {
                padding: 30px;
                border-radius: 40px;
            }
        }

        .hero-text {
            position: absolute;
            background-color: $black;
            color: $white;
            z-index: 1;
            margin-top: 500px;
            padding: 10px;
            text-align: center;
        }
    }

    .baby-pic {
        display: flex;
        justify-content: center;

        img {
            height: 300px;
            display: flex;
            padding: 30px;
            border-radius: 120px;
        }
    }

    .map-section {
        display: flex;
        justify-content: center;
        border: #000 solid 10px;

        h3 {
            padding-top: 200px;
            padding-left: 5%;
        }
        
        .mapouter {
            display: flex;
            justify-content: center;
            position:relative;
            text-align:right;
            height:500px;
            width:600px;
            padding: 50px;
            
            .gmap_canvas {
                overflow:hidden;
                background:none!important;
                height:500px;
                width:600px;
            }
        }
    }

    #wufoo-z1hpkr8h1t12dno {
        text-align: center;
    }
}